@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "pages/home";


.header {
  position: relative;
  height: 100vh;

  background-image:
          linear-gradient(to right bottom,
          rgba($color-primary-light, 0.7),
          rgba($color-primary-dark, 0.7)),
          url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  color: $color-white;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }
}


.heading-primary {
  display: block;
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  text-align: center;

  & > span {
    display: block;
  }

  &__main {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: slideFromLeft, opacityChange;
    animation-duration: 1s;
    /*animation-timing-function: ease-out;*/
  }

  &__sub {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;

    animation-name: slideFromRight, opacityChange;
    animation-duration: 1s;
    /*animation-timing-function: ease-out;*/
  }
}
