.header {
  position: relative;
  height: 100vh;

  background-image:
          linear-gradient(to right bottom,
                  rgba($color-primary-light, 0.7),
                  rgba($color-primary-dark, 0.7)),
          url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  color: $color-white;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }
}
