.navigation {
  &__checkbox {
    display: none;

    &:checked {
      & ~ .navigation__background {
        transform: scale(80);
      }

      & ~ .navigation__nav {
        display: block;
      }

      & + .navigation__button > .navigation__icon {
        background-color: transparent;

        &::before {
          transform: translateY(0.8rem) rotate(135deg);
        }

        &::after {
          transform: translateY(-.8rem) rotate(-135deg);
        }
      }
    }

    &:hover {
      cursor: pointer;
      &:checked {
        & + .navigation__button > .navigation__icon {
          &::before { top: -.8rem; }
          &::after { top: .8rem; }
        }
      }
    }
  }

  &__button {
    background-color: $color-white;
    @include position-fixed(6rem, 6rem);
    @include circle(7rem);
    z-index: 30;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);

    &:hover {
      cursor: pointer;

      & .navigation__icon::before {
        top: -.9rem
      }

      & .navigation__icon::after {
        top: .9rem;
      }
    }
  }

  &__background {
    @include circle(6rem);
    @include position-fixed(6.5rem, 6.5rem);
    background-image: radial-gradient($color-primary-light 2%, $color-primary-dark 100%);
    z-index: 10;
    transition: transform .4s cubic-bezier($bezier-ease-in-sine);
  }

  &__nav {
    display: none;
    height: 100vh;
    width: 100%;
    //background: lightgray;
    @include position-fixed(0, 0);
    z-index: 20;
  }

  &__list {
    @include absolute-center-box;
    @include text-align-center;
    list-style: none;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    display: inline-block;

    font-size: 3rem;
    font-weight: 300;
    color: $color-white;
    text-transform: uppercase;
    padding: 1rem 2rem;
    background-size: 220%;
    transition: all 0.4s;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%, $color-white 100%);

    span {
      color: $color-grey-dark;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary-dark;
      transform: translateX(1rem);
    }
  }

  &__icon {
    position: relative;
    @include absolute-center-box;

    &:hover {
      cursor: pointer;
    }

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-primary-dark;
      display: inline-block;
    }

    &::before,
    &::after {
      left: 0;
      content: '';
      position: absolute;
      transition: all .1s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }
}