$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #eee;
$color-grey-light-2: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: white;
$color-black: black;

$default-font-size: 1.6rem;

// Grid Variables
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 4rem;

// Composition
$infinity: 100001;

// Bezier Curves
$bezier-ease-in-out-quint: .86, 0, .07, 1;
$bezier-ease-in-sine: .47, 0, .745, .715;