*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.text-align-center {
  text-align: center;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.absolute-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}