body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  display: block;
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  text-align: center;

  & > span {
    display: block;
  }

  &__main {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: slideFromLeft, opacityChange;
    animation-duration: 1s;
    /*animation-timing-function: ease-out;*/
  }

  &__sub {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;

    animation-name: slideFromRight, opacityChange;
    animation-duration: 1s;
    /*animation-timing-function: ease-out;*/
  }
}
